/* Clicker.css */

/* Clicker.css */

.clicker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items at the top */
    background: midnightblue;
    width: 100%;
    min-height: 100vh; /* Ensure the height covers the viewport */
    padding-top: 80px; /* Space for the navbar */
    box-sizing: border-box;
}

.coin-count {
    font-size: 2rem;
    margin-bottom: 20px;
    color: honeydew;
}

.clicker-button {
    width: 300px;
    height: 300px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.clicker-button:hover {
    background-color: darkslategray;
}

@keyframes clickGrowAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2.0);
    }
    100% {
        transform: scale(1);
    }
}

.clicker-button:active {
    transform: translateY(10px);
}

.clicker-button img {
    width: 80%;
    height: auto;
}

.collect-button {
    background: linear-gradient(45deg, #00ffcc, #00ccff);
    border: none;
    border-radius: 50px;
    color: #000;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.5), 0 0 40px rgba(0, 204, 255, 0.3);
    margin-top: 20px;
}

.collect-button:hover {
    box-shadow: 0 0 30px rgba(0, 255, 204, 0.7), 0 0 60px rgba(0, 204, 255, 0.5);
}

.collect-button:active {
    transform: scale(0.95);
}

.category-select {
    background-color: white;
    color: #333333;
    border: none;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-select:hover {
    background-color: ghostwhite;
}
