/* Clicker.css */

.clicker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: darkslategrey;
    width: 100%;
    height: 100vh;
}

.coin-count {
    font-size: 2rem;
    margin-bottom: 20px;
    color: honeydew;
}

.clicker-button {
    width: 500px;
    height: 500px;
    background-color: darkslateblue; /* Green */
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicker-button:hover {
    background-color: midnightblue; /* Darker green */
}


@keyframes clickGrowAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2.0); /* Increase size */
    }
    100% {
        transform: scale(1);
    }
}

.clicker-button:active {
    transform: translateY(10px);
}

/* Image inside the button */
.clicker-button img {
    width: 80%; /* Adjust the size as needed */
    height: auto;
}